################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Brekaout/.vs/Brekaout/v16/Browse.VC.opendb
